@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lesson {
    background-color: #f1f1f1;
    padding-bottom: 150px;
}

.lesson-topic { 
    h2 {
        padding-top: 120px;
        margin-bottom: 80px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 70px;
        text-align: center;
    }
}

.les {
    width: 78%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson-video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    iframe {
        width: 1050px;
        height: 588px;
    }
}

.lesson-context {
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.context-topic {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    h2 {
        margin: 10px;
        font-size: 120px;
        color: #9d9d9d;
    }
    h3 {
        margin: 15px;
        font-size: 48px;
        text-transform: uppercase;
    }
}

.context-text {
    font-family: 'Ubuntu', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    p {
        font-size: 20px;
    }
}

.arrow-delimeter {
    width: 100%;
    margin-bottom: 80px;
    img {
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.logout-button {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
button {
    width: 270px;
    height: 60px;
    border: none;
    background-color: #181818;
    color: #f0f0f0;
    font-size: 18px;
    border-radius: 7px;
    }
    button:hover {
    opacity: 80%;
    transition: .2s;
}

// ! ==============================================================

@media screen and (max-width: 1400px) {
    .context-text {
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .lesson-video {
        iframe {
            height: 480px;
        }
    }
    .context-topic {
        margin: 10px;
    }
    .context-text {
        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 950px) {
    .les {
        margin-top: 100px;
    }
    .lesson-video {
        iframe {
            height: 420px;
        }
    }
    .lesson-context {
        display: flex;
        flex-direction: column;
    }
    .context-topic {
        display: flex;
        align-items: center;
        h2 {
            font-size: 80px;
        }
    }
    .context-text {
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 800px) {
    .lesson-topic {
        h2 {
            font-size: 50px;
        }
    }
    .les {
        margin-top: 60px;
    }
    .lesson-video {
        iframe {
            height: 355px;
        }
    }
    .context-topic {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 70px;
        }
        h3 {
            font-size: 42px;
        }
    }
    .context-text {
        p {
            font-size: 16px;
        }
    }
    .arrow-delimeter {
         img {
             width: 120px;
         }
    }
}

@media screen  and (max-width: 700px) {
    .les {
        margin-bottom: 35px;
    }
    .lesson-video {
        iframe {
            height: 310px;
        }
    }
    .context-topic {
        h2 {
            font-size: 60px;
        }
        h3 {
            font-size: 38px;
        }
    }
    .context-text {
        p {
            font-size: 14px;
        }
    }
    .arrow-delimeter {
        img {
            width: 100px;
        }
    }
}

@media screen and (max-width: 650px) {
    .les {
        margin-top: 40px;
    }
    .lesson-topic {
        h2 {
            font-size: 42px;
            padding-top: 48px;
        }
    }
    .lesson-video {
        iframe {
            height: 290px;
        }
    }

    .context-topic {
        h2 {
            font-size: 50px;
        }
        h3 {
            font-size: 30px;
            margin: 10px;
        }
    }
    .context-text {
        p {
            font-size: 13px;
        }
    }
    .arrow-delimeter {
        img {
            width: 80px;
        }
    }
}