@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #f0f0f0;
}

.about-topic {
    margin-bottom: 120px;
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 70px;
        text-align: center;
    }
}

.about-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    font-family: 'Ubuntu', sans-serif;
    .content {
        display: flex;
        justify-content: flex-end;
        width: 480px;
        margin-top: 50px;
        img {
            width: 100px;
            height: 30px;
            margin: 30px;
            margin-top: 0;
        }
        p {
            font-size: 18px;
        }
    }

    img {
        width: 440px;
    }
}

// ! ===================================================================================================================

@media screen and (max-width: 1400px) {
    .about-topic {
        margin-bottom: 70px;
        h2 {
            font-size: 64px;
        }
    }
    .about {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .about {
        width: 84%;
    }
    .about-content {
        .content {
            img {
                width: 80px;
                margin: 20px;
                margin-top: 0;
            }
            p {
                font-size: 17.5px;
            }
        }
        img {
            width: 400px;
        }
    }
}

@media screen and (max-width: 950px) {
    .about-content {
        .content {
            img {
                display: none;
            }
            p {
                font-size: 16px;
            }
        }
        img {
            width: 320px;
        }
    }
}

@media screen and (max-width: 800px) {
    .about-topic {
        h2 {
            font-size: 56px;
        }
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        img {
            width: 260px;
        }
    }
}