@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.intro-header {
  background-color: #f1f1f1;
  border-top-right-radius: 40px;
}

.intro-menu {
  width: 50%;
  height: 80px;
  border-bottom-right-radius: 45px;
  background-color: #181818;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.intro-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
}

.intro-menu ul li {
  margin-left: 40px;
  list-style: none;
  cursor: pointer;
}

.intro-menu ul li:first-child {
  margin-left: 0;
}

.intro-info {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f1f1f1;
  font-family: 'Ubuntu', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.info-team {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 130px;
}

.info-team .logo-img {
  width: 260px;
  padding-bottom: 36px;
}

.info-team .der-img {
  width: 80px;
  padding-bottom: 36px;
}

.info-team h4 {
  font-size: 18px;
  font-weight: 400;
}

.info-img {
  margin-left: auto;
  margin-right: auto;
}

.info-img img {
  width: 450px;
}

.info-head {
  width: 490px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-head h2 {
  font-size: 60px;
  font-family: 'Times New Roman';
  padding-bottom: 36px;
}

.info-head .der-img {
  width: 80px;
  padding-bottom: 36px;
}

.info-head h4 {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1400px) {
  .intro-menu {
    width: 64%;
  }
  .intro-info {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .info-team {
    width: 400px;
    padding-left: 90px;
  }
  .info-team .logo-img {
    width: 220px;
    padding-bottom: 30px;
  }
  .info-team .der-img {
    width: 64px;
    padding-bottom: 30px;
  }
  .info-team h4 {
    font-size: 17px;
  }
  .info-img img {
    width: 400px;
  }
  .info-head {
    width: 400px;
    padding-bottom: 40px;
    padding-left: 30px;
  }
  .info-head h2 {
    font-size: 54px;
  }
  .info-head .der-img {
    width: 64px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .intro-menu {
    width: 80%;
  }
  .info-team {
    width: 320px;
    padding-left: 64px;
  }
  .info-team .logo-img {
    width: 190px;
    padding-bottom: 24px;
  }
  .info-team .der-img {
    width: 58px;
    padding-bottom: 24px;
  }
  .info-team h4 {
    font-size: 16px;
  }
  .info-img img {
    width: 320px;
  }
  .info-head {
    width: 320px;
    padding-left: 24px;
  }
  .info-head .der-img {
    width: 58px;
    padding-bottom: 24px;
  }
  .info-head h2 {
    font-size: 44px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 950px) {
  .intro-menu {
    width: 100%;
    border-bottom-right-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-menu ul {
    margin-right: 0;
  }
  .info-team {
    width: 280px;
    padding-left: 45px;
  }
  .info-team .logo-img {
    width: 150px;
    padding-bottom: 20px;
  }
  .info-team .der-img {
    width: 44px;
    padding-bottom: 20px;
  }
  .info-team h4 {
    font-size: 15px;
  }
  .info-img img {
    width: 280px;
  }
  .info-head {
    width: 280px;
  }
  .info-head h2 {
    font-size: 36px;
  }
  .info-head .der-img {
    width: 44px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    width: 85%;
  }
  .intro-menu {
    padding-right: 40px;
  }
  .intro-menu ul li:first-child {
    display: none;
  }
  .intro-info {
    padding-top: 50px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
  }
  .info-team {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-team .der-img {
    display: none;
  }
  .info-team h4 {
    padding: 30px;
  }
  .info-img {
    padding-top: 35px;
  }
  .info-head {
    width: 500px;
    padding: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .intro-menu {
    font-size: 16px;
  }
}
/*# sourceMappingURL=IntroStyles.css.map */