* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.courses {
    background-color: #181818;
    padding-bottom: 120px;
}

.course-topic { 
    h2 {
        padding-top: 70px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 70px;
        color: #f1f1f1;
        text-align: center;
    }
}

.cor {
    width: 78%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    iframe {
        width: 1050px;
        height: 588px;
    }
}

.course-context {
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.context-topik {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    h2 {
        margin: 10px;
        font-size: 120px;
        color: #9d9d9d;
    }
    h3 {
        margin: 15px;
        font-size: 48px;
        text-transform: uppercase;
        color: #f1f1f1;
    }
}

.contex-text {
    font-family: 'Ubuntu', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    p {
        font-size: 16px;
        color: #f1f1f1;
        font-weight: 300;
    }
}

.context-del {
        width: 100%;
        img {
            width: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

.contex-text {
    p {
        font-size: 22px;
        color: #f0f0f0;
    }
}

// ! ==============================================================

@media screen and (max-width: 1400px) {
    .contex-text {
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .course-video {
        iframe {
            height: 480px;
        }
    }
    .context-topik {
        margin: 10px;
    }
    .contex-text {
        p {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 950px) {
    .cor {
        margin-top: 100px;
    }
    .course-video {
        iframe {
            height: 420px;
        }
    }
    .course-context {
        display: flex;
        flex-direction: column;
    }
    .context-topik {
        display: flex;
        align-items: center;
        h2 {
            font-size: 80px;
        }
    }
    .contex-text {
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 800px) {
    .course-topic {
        h2 {
            font-size: 50px;
        }
    }
    .cor {
        margin-top: 60px;
    }
    .course-video {
        iframe {
            height: 355px;
        }
    }
    .context-topik {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 70px;
        }
        h3 {
            font-size: 42px;
        }
    }
    .contex-text {
        p {
            font-size: 16px;
        }
    }
    .context-del {
         img {
             width: 120px;
         }
    }
}

@media screen  and (max-width: 700px) {
    .cor {
        margin-bottom: 35px;
    }
    .course-video {
        iframe {
            height: 310px;
        }
    }
    .context-topik {
        h2 {
            font-size: 60px;
        }
        h3 {
            font-size: 38px;
        }
    }
    .contex-text {
        p {
            font-size: 14px;
        }
    }
    .context-del {
        img {
            width: 100px;
        }
    }
}

@media screen and (max-width: 650px) {
    .cor {
        margin-top: 40px;
    }
    .course-topic {
        h2 {
            font-size: 42px;
            padding-top: 48px;
        }
    }
    .course-video {
        iframe {
            height: 290px;
        }
    }

    .context-topik {
        h2 {
            font-size: 50px;
        }
        h3 {
            font-size: 30px;
            margin: 10px;
        }
    }
    .contex-text {
        p {
            font-size: 13px;
        }
    }
    .context-del {
        img {
            width: 80px;
        }
    }
}